<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>Добро пожаловать!</h1>
<br><br>
<button type="button" style="width: 160px; height: 30px;" onclick="window.location.href='/registration'"> register</button>
<br><br>
<button type="button" style="width: 160px; height: 30px;" onclick="window.location.href='/login'"> log in</button>
<br><br><br><br>
<input type="button" style="width: 160px; height: 30px;" value="Logout" onclick="window.location.href = '/logout'">
</body>
</html>