<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
</head>
<body>
<h3>Станица зарегестрированного пользователя</h3>
<br><br>
<table border="1" width="500px">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Email</th>


    <tr th:each="user, state: ${user}">
        <th th:utext="${user.getId}"></th>
        <th th:utext="${user.getUsername()}"></th>
        <th th:utext="${user.getLastName()}"></th>
        <th th:utext="${user.getAge()}"></th>
        <th th:utext="${user.getEmail()}"></th>
    </tr>
    </tr>
</table>
<br><br>
<input type="button" value="Logout" onclick="window.location.href = '/logout'">
</body>
</html>